/* Reset default browser styling */
*, 
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* custom properties */
:root {
  /* colors */
  --primary-color1: #F9FAF8;
  --primary-color2: #1F2937; 
  --secondary-color1: #E5E7EB;
  --secondary-color2: #3882F6;

  /* font sizes */
  --ft-size-xs: 12px;
  --ft-size-sm: 16px;
  --ft-size-base: 18px;
  --ft-size-lg: 24px;
  --ft-size-xl: 36px;
  --ft-size-xxl: 48px;

  /* Spacing */
  --sp-xs: 0.75rem;
  --sp-sm: 0.85rem;
  --sp-base: 1rem;
  --sp-lg: 2rem;
  --sp-xl: 4rem;
  --sp-xxl: 6rem;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header section styling */

header a {
  text-decoration: none;
}

header {
  background: var(--primary-color2);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 15%;
  padding-top: var(--sp-sm);
  padding-bottom: var(--sp-xs);
}

.logo {
  color: var(--primary-color1);
  font-size: var(--ft-size-lg);
  font-weight: 900;
}

.main-nav ul{
  list-style: none;
  display: flex;
  gap: var(--sp-base);
}

.nav-item a, .secondary-txt {
  color: var(--secondary-color1);
  font-size: var(--ft-size-base);
}

/* Hero section styling */
.hero {
  background-color: var(--primary-color2);
  width: 100vw;
  height: 600px;
  padding-inline: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container, .ph-container {
  flex: 1;
}

.main-txt {
  color: var(--primary-color1);
  font-size: var(--ft-size-xxl);
  font-weight: 900;
}

.secondary-txt {
  margin-bottom: var(--sp-sm);
  padding-right: var(--sp-xl);
}

.btn {
  width: 120px;
  height: 36px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.cta1 {
  background-color: var(--secondary-color2);
  color: var(--primary-color1);
  font-size: var(--ft-size-sm);
}

.ph-container {
  background-color: #8e8f90;
  color: var(--primary-color1);
  height: 230px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Random Info section styling */