/* Reset default browser styling */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* custom properties */
:root {
  /* colors */
  --primary-color1: #f9faf8;
  --primary-color2: #1f2937;
  --secondary-color1: #e5e7eb;
  --secondary-color2: #3882f6;

  /* font sizes */
  --ft-size-xs: 12px;
  --ft-size-sm: 16px;
  --ft-size-base: 18px;
  --ft-size-lg: 24px;
  --ft-size-xl: 36px;
  --ft-size-xxl: 48px;

  /* Spacing */
  --sp-xs: 0.75rem;
  --sp-sm: 0.85rem;
  --sp-base: 1rem;
  --sp-lg: 2rem;
  --sp-xl: 4rem;
  --sp-xxl: 6rem;
}

html {
  scrollbar-color: var(--primary-color2) var(--secondary-color2);
  scrollbar-width: thin;
}

body {
  font-family: "Roboto", sans-serif;
  
}

/* Header section styling */

header a {
  text-decoration: none;
}


header {
  background: var(--primary-color2);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: 15%;
  padding-top: var(--sp-sm);
  padding-bottom: var(--sp-xs);
}

.logo {
  color: var(--primary-color1);
  font-size: var(--ft-size-lg);
  font-weight: 900;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: var(--sp-base);
}

.nav-item a,
.secondary-txt {
  color: var(--secondary-color1);
  font-size: var(--ft-size-base);
  position: relative;
}

.nav-item a {
  transition: color 0.3s ease-in-out;
}

.nav-item a:hover {
  color: var(--secondary-color2);
}

.nav-item a::after {
  content: " ";
  width: 80%;
  height: 2px;
  background-color: var(--secondary-color1);
  position: absolute;
  top: 110%;
  right: 10%;
  margin-top: 3px;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

.nav-item a:hover::after {
  transform: scale(1);
}

/* Hero section styling */
.hero {
  /* background-color: var(--primary-color2); */
  height: 600px;
  padding-inline: 15%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.hero-vid {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #1f2937;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.text-container,
.ph-container {
  flex: 1;
  position: relative;
}

.main-txt {
  color: var(--primary-color1);
  font-size: var(--ft-size-xxl);
  font-weight: 900;
}

.secondary-txt {
  margin-bottom: var(--sp-sm);
  padding-right: var(--sp-xl);
}

.btn {
  width: 125px;
  height: 36px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: var(--secondary-color2);
  color: var(--primary-color1);
  font-size: var(--ft-size-sm);
}

.ph-container {
  /* background-color: #8e8f90; */
  color: var(--primary-color1);
  height: 245px;
  /* border: 2px solid var(--secondary-color2); */
  border-radius: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Random Info section styling */
.random-info {
  background-color: var(--primary-color1);
  padding-bottom: 115.2px;
}

.info-heading {
  color: var(--primary-color2);
  font-size: var(--ft-size-xl);
  font-weight: 900;
  text-align: center;
  padding-block: var(--sp-lg);
}

.subtext-container {
  padding-inline: 15%;
  display: flex;
  justify-content: space-around;
}

.item-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  width: 145px;
}

.item-img {
  width: 145px;
  height: 145px;
  border: 4px solid var(--secondary-color2);
  border-radius: 12px;
}

.subtext {
  color: #737474;
  text-align: center;
  margin-top: var(--sp-xs);
}

/* Quote section styling */
.quote-section {
  background-color: var(--secondary-color1);
  color: var(--primary-color2);

  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  width: 780px;
}

.quote {
  font-size: var(--ft-size-xl);
  font-weight: 300;
  font-style: italic;
  text-align: left;
}

.quoter {
  text-align: right;
  font-size: var(--ft-size-base);
  font-weight: 900;
  padding-right: 2.8rem;
}

/* CTA section styling  */
.cta-section {
  height: 380px;
  background-color: var(--primary-color1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  background-color: var(--secondary-color2);
  width: 1026.5px;
  height: 120px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--sp-xxl);
}

.cta-heading {
  color: var(--primary-color1);
}

.cta-txt {
  color: var(--secondary-color1);
}

.cta {
  border: 2px solid var(--primary-color1);
}

/* footer styling */
footer {
  background-color: var(--primary-color2);
  color: var(--secondary-color1);
  padding-block: var(--sp-lg);
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--secondary-color1);
  font-weight: 900;
}